trigger:
- none

pool:
  vmImage: ubuntu-latest

stages:
- stage: Terraform
  displayName: Terraform Init Plan Apply
  jobs:
  - job: TerraformJob
    steps:
    - task: TerraformInstaller@1
      inputs:
        terraformVersion: 'latest'

       # Terraform Init
    - task: TerraformTask@5
      displayName: Terraform Init
      env:
        vm_username: $(vm_username)
        vm_password: $(vm_password)
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/nfracode/root'
        backendServiceArm: 'WebAppServiceConnection'
        backendAzureRmResourceGroupName: 'aks-rg'
        backendAzureRmStorageAccountName: 'devopssstate'
        backendAzureRmContainerName: 'infrastroge'
        backendAzureRmKey: 'dev.terraform.tfstate'

    # Terraform Plan
    - task: TerraformTask@5
      displayName: Terraform Plan
      env:
        TF_VAR_vm_username: $(vm_username)
        TF_VAR_vm_password: $(vm_password)
      inputs:
        provider: 'azurerm'
        command: 'plan'
        workingDirectory: '$(System.DefaultWorkingDirectory)/nfracode/root'
        environmentServiceNameAzureRM: 'WebAppServiceConnection'

    # Terraform Apply (optional)
    - task: TerraformTask@5
      displayName: Terraform Apply
      env:
        TF_VAR_vm_username: $(vm_username)
        TF_VAR_vm_password: $(vm_password)
      inputs:
        provider: 'azurerm'
        command: 'apply'
        workingDirectory: '$(System.DefaultWorkingDirectory)/nfracode/root'
        environmentServiceNameAzureRM: 'WebAppServiceConnection'
        args: '-auto-approve'
