trigger:
- none   # ya jo bhi branch hai

variables:
- name: vm_username
  value: $(vm_username)
- name: vm_password
  value: $(vm_password)
pool:
  vmImage: ubuntu


stages:
  - stage: terraformInit
    displayName: terraform Init And Validate Stage
    jobs:
    - job: 
      displayName: terraform init job
      steps:
      - task: TerraformTask@5
        inputs:
          provider: 'azurerm'
          command: 'init'
          workingDirectory: '$(System.DefaultWorkingDirectory)/nfracode/root'
          backendServiceArm: 'WebAppServiceConnection'
          backendAzureRmResourceGroupName: 'aks-rg'
          backendAzureRmStorageAccountName: 'devopssstate'
          backendAzureRmContainerName: 'infrastroge'
          backendAzureRmKey: 'dev.terraform.tfstate'
      
      - task: TerraformTask@5
        inputs:
          provider: 'azurerm'
          command: 'plan'
          workingDirectory: '$(System.DefaultWorkingDirectory)/nfracode/root'



